


@font-face {
  font-family: 'typograph2';
  src: url('../fonts/typograph2lightwebfont.eot');
  src: url('../fonts/typograph2lightwebfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/typograph2lightwebfont.woff') format('woff'),
  url('../fonts/typograph2lightwebfont.ttf') format('truetype'),
  url('../fonts/typograph2lightwebfont.svg#svgFontName') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'typograph2';
  src: url('../fonts/typograph2regularwebfont.eot');
  src: url('../fonts/typograph2regularwebfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/typograph2regularwebfont.woff') format('woff'),
  url('../fonts/typograph2regularwebfont.ttf') format('truetype'),
  url('../fonts/typograph2regularwebfont.svg#svgFontName') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'typograph2';
  src: url('../fonts/typograph2boldwebfont.eot');
  src: url('../fonts/typograph2boldwebfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/typograph2boldwebfont.woff') format('woff'),
  url('../fonts/typograph2boldwebfont.ttf') format('truetype'),
  url('../fonts/typograph2boldwebfont.svg#svgFontName') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'typograph2';
  src: url('../fonts/typograph2blackwebfont.eot');
  src: url('../fonts/typograph2blackwebfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/typograph2blackwebfont.woff') format('woff'),
  url('../fonts/typograph2blackwebfont.ttf') format('truetype'),
  url('../fonts/typograph2blackwebfont.svg#svgFontName') format('svg');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'typographregular';
  src: url('../fonts/typographregular.eot');
  src: url('../fonts/typographregular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/typographregular.woff2') format('woff2'),
  url('../fonts/typographregular.woff') format('woff'),
  url('../fonts/typographregular.ttf') format('truetype'),
  url('../fonts/typographregular.svg#typographregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'typographregular';
  src: url('../fonts/typographbold.eot');
  src: url('../fonts/typographbold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/typographbold.woff2') format('woff2'),
  url('../fonts/typographbold.woff') format('woff'),
  url('../fonts/typographbold.ttf') format('truetype'),
  url('../fonts/typographbold.svg#typographbold') format('svg');
  font-weight: bold;
  font-style: normal;

}