$desktop-width: 1000px;
$mobile: 999.9px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin landscape {
  @media (max-width: 1000px) and (max-height: 500px) and (orientation: landscape) {
    @content;
  }
}