@import "_font_scale.scss";

#top_wrapper {
  font-size: $base-font;

  @include mobile-only() {
    font-size: 2vw;
  }

  /* DESKTOP QUERIES */

  @include desktop() {

    @media (min-width: 1600px) {
      font-size: $base-font * .86;
    }

    @media (max-width: 1600px) {
      font-size: $base-font * .8;
    }

    @media (max-width: 1450px) {
      font-size: $base-font * .8;
    }
    @media screen and (max-height: 920px) {
      font-size: $base-font * .80;
    }


    @media (max-width: 1350px) {
      font-size: $base-font * .8;
    }
    @media screen and (max-height: 850px) {
      font-size: $base-font * .75;
    }

    @media screen and (max-height: 800px) {
      font-size: $base-font * .7;
    }

    @media (max-width: 1250px) {
      font-size: $base-font * .7;
    }

    @media screen and (max-height: 770px) {
      font-size: $base-font * .66;
    }

    @media screen and (max-height: 700px) {
      font-size: $base-font * .60;
    }

    @media (max-width: 1100px) {
      font-size: $base-font * .65;
    }

    @media screen and (max-height: 640px) {
      font-size: $base-font * .55;
    }

    @media screen and (max-height: 530px) {
      font-size: $base-font * .5;
    }
    @media screen and (max-height: 590px) {
          font-size: $base-font * .50;
        }
  }

}
