
/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, input, select, textarea,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

iframe {
  display: none;
}

#ifrChat {
  display: block;
}

div {
  box-sizing: border-box;
}

fieldset {
  border: 0;
}

legend {
  font-size: 0;
  height: 0;
}

.ltr {
  direction: ltr;
}

ul {
  list-style: none;
}

/* END RESET*/

.display {
  display: block;
}

.desktop {
  display: none;
}

.clear:after {
  display: table;
  content: '';
  clear: both;
}

/*WAI*/
[aria-hidden="true"] {
  visibility: hidden !important;
}

.hidden {
  visibility: hidden;
}

input:focus, a:focus, select:focus, label:focus, button:focus {
  outline: 2px solid #00DBF9 !important;
}

header:focus, div:focus {
  outline:0px solid;
}

.error-outline {
  outline: 2px solid #d64949;
}

button {
  border-radius: 0;
  border: 0;
  background: transparent;
  font-family: inherit;
}
input {
  border:0;
}

input[type='submit'] {
  border-radius: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1em;
  font-weight:normal;
}

//input[type='radio'] {
//  width: 0;
//  height: 0;
//  visibility: hidden;
//  position: absolute;
//}