#thanks {

  /* its best to have #thanks and the form with the same parent, so we can simply cover the form with the thanks */
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 3.5em;
  color: $bg-gray;
  overflow: hidden;
  padding: 3.5em 2em 0;
  background-image: url("../images/elipse-white.png");
  background-position: top center;
  background-repeat: no-repeat;
  .private {
    text-align: center;
    .thanks-bottom {
      font-size: 0.5em;
    }
  }
  @include desktop() {
    background-color: $form-gray;
    color: $bg-gray;
    font-size: 3.5em;
    background-image: none;
    padding: 0;
  }

}

/* in the thanks page, the #top_wrapper will have the class thanks */
.thanks #thanks {
  display: flex;
  justify-content: center;
  align-items: center;
}
