<!-- build:devcss -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<script src="dist/scripts/lib/jquery-1.9.1.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="src/css/lib/main.css">
<!-- endBuild -->

<script src="dist/scripts/lib/parsley.min.js"></script>
<script src="dist/scripts/script.js?v=CLIENT_VERSION&minifierType=js"></script>
<script src="dist/scripts/bbl_leads.js?v=CLIENT_VERSION&minifierType=js"></script>

<div id="top_wrapper">

    <div class="main-container">


        <div class="content-area">
            <section class="main-content">
                <div class="logos mobile">
                    <img class="page-logo bbl-logo mobile" src="src/images/bbl-black-logo.png" alt="Bezeq int. logo">
                    <div class="logos-container mobile">
                        <img class="page-logo lg-logo mobile" src="src/images/lg-logo.png" alt="Lg logo">
                        <img class="page-logo ericsson-logo mobile" src="src/images/ericsson-logo.png" alt="Ericsson logo">
                    </div>
                </div>
                    <h1 class="title mobile">
                         
                        <div>בזק בינלאומי במבצע</div>
                        <div>סוף שנה לעסקים!</div>
                    </h1>
                    <ul class="header-list mobile">
                        <img class="tuki mobile" src="src/images/tuki.png" alt="tuki">
                        <img class="phone mobile" src="src/images/PHONE.png" alt="telephone">
                        <img class="airpods mobile" src="src/images/airpods.png" alt="airpods">
        
                        <li class="header-item">
                            <span class="bold">קנו</span>
                            <span class="light">מרכזיית</span>
                            <span class="eng">LG</span>
                        </li>
                        <li class="header-item">
                            <span class="bold">וקבלו</span>
                            <span class="regular">אוזניות</span>
                            <span>איירפודס
                                    <span class="number">2 </span>
                                </span>
                            </span>
                        </li>
                        <li class="header-item">
                            <span class="">במחיר מיוחד!</span>
                        </li>
                    </ul>
                    <div class="tv-container desktop">
                        <h1>בזק בינלאומי במבצע סוף שנה לעסקים!</h1>
                    </div>
            </section>
            <section class="details">
                <img class="tuki desktop" src="src/images/tuki.png" alt="tuki">
                <img class="phone desktop" src="src/images/PHONE.png" alt="telephone">
                <img class="airpods desktop" src="src/images/airpods.png" alt="airpods">
                <div class="details-header mobile">
                    <div class="header-anchor">
                        גלו את מגוון היתרונות של מרכזיית
                        <span class="eng">LG</span>
                    </div>

                </div>
                <h1 class="title desktop">
                    <!-- בזק בינלאומי במבצע קיץ ענק לעסקים -->
                </h1>
                <ul class="header-list desktop">
                    <li class="header-item">
                        <span class="bold">קנו</span>
                        <span class="light">מרכזיית</span>
                        <!-- <span class="eng">IP</span>
                        <span class="light">של</span> -->
                        <span class="eng">LG</span>
                    </li>
                    <li class="header-item">
                        <span class="bold">וקבלו</span>
                        <span class="regular">אוזניות</span>
                        <span>איירפודס
                                <span class="number">2 </span>
                            </span>
                    </li>
                    <li class="header-item">
                        <span>במחיר מיוחד!</span>
                    </li>
                </ul>
                <ul class="details-list">
                    <li class="details-item people">
                        <div>שיחות ועידה</div>
                        <div>מרובות</div>
                        <div>משתתפים</div>
                    </li>
                    <li class="details-item hand">
                        <div>שילוב הסלולרי</div>
                        <div>כשלוחה של</div>
                        <div>המשרד</div>
                    </li>
                    <li class="details-item mic">
                        <div>הקלטת</div>
                        <div>שיחות</div>
                    </li>
                    <li class="details-item tools">
                        <div>שירות ותמיכה</div>
                        <div>טכנית</div>
                    </li>
                    <li class="details-item network">
                        <div>פורטל לניהול</div>
                        <div>השלוחות מכל</div>
                        <div>מקום ובכל זמן</div>
                    </li>
                    <li class="details-item forward">
                        <div>הפנייה אוטומטית </div>
                        <div>של השיחות </div>
                        <div>בזמן תקלה</div>
                    </li>
                </ul>
            </section>
        </div>
                <p class="disclaimer desktop">
                    *ללקוחות עסקיים בלבד *ברכישת מרכזיית <span class="eng">ERICSSON-LG</span> מהדגמים המשתתפים במבצע *הטבת אוזניות
                    <span class="eng">AirPods</span> דור 2 של <span class="eng">Apple</span>, ללא טעינה אלחוטית, החל מ- 6.5 ₪ לחודש בפריסה ל-60 תשלומים *<a href="https://www.bezeqint.net/takanon-merkaziuot-lg/" target="_blank">בכפוף לתקנון</a> *המחירים לא כוללים מע"מ *בתוקף עד 31.12.2021 או עד גמר המלאי *התמונות להמחשה בלבד.</p>
        <section class="form-container" >
            <img class="page-logo bbl-logo desktop" src="src/images/bbl-logo-white.png" alt="Bezeq int. logo">
            <div class="form-wrapper">
                <h3 class="form-title">
                    <div class="bold">בעלי עסקים</div>
                    <span class="c2c  desktop">חייגו 1800-076-201</span>
                    <div>
                        <span class="desktop">או השאירו פרטים:</span>
                        <span class="mobile">השאירו פרטים ונחזור אליכם:</span>
                    </div>
                </h3>


                <form action="" id="lead_form" method="post" target="leadformtarget" aria-hidden="false"
                      autocomplete="off"
                      novalidate>

                    <!--This field always exists. You should receive a file number with every task-->
                    <input type="hidden" id="fileNo" name="file_number" value="3336">

                    <!--We will create a single input for the full phone below. We'll insert the values into these fields after validation-->
                    <input type="hidden" id="custPhone" name="custPhone">
                    <!--Dont change this field! the options will be added by Bezeqint's form initialization-->
                    <select name="custAreaPhone" id="custAreaPhone" style="display: none" aria-hidden="true">
                        <option value="">בחר</option>
                    </select>

                    <!--Another field that every page has. "df." allows defining inputs with any name. There's usually a specific value they want for "df.<name>.title" -->
                    <!--"df.<name>" holds the fields value while "df.<name>.title" is the name of the field-->
                    <input type="hidden" name="df.campaign_name.title" value="שם הקמפיין">
                    <input type="hidden" name="df.campaign_name" value="מבצע סוף שנה קנה קבל מרכזיות LG">

                    <!--Fields for Salesforce:-->
                    <input type="hidden" name="df.mc_sk.title" value="mc_sk">
                    <input type="hidden" name="df.mc_sk" value="" id="mc_sk">

                    <input type="hidden" name="df.mc_campaign_code.title" value="mc_campaign_code">
                    <input type="hidden" name="df.mc_campaign_code" value="95" id="mc_campaign_code">

                    <!--Dont remove any of the fields above this line-->


                    <div class="form-row">
                        <input type="text" id="form_fullname" class="form-input" name="custName" maxlength="30"
                               title="שם מלא"
                               placeholder="שם מלא:" data-parsley-whitespace="trim" required data-parsley-fullname>
                    </div>

                    <div class="form-row">
                        <input type="tel" id="form_fullphone" class="form-input" maxlength="10" title="טלפון"
                               onkeypress="return onlyNumbers(event);" placeholder="טלפון:" name="Phone" required
                               data-parsley-phone>
                    </div>

                    <!--Another example for a custom fields. We used to send it under remarks -->
                    <!--A hidden input defines the title for this field-->


                    <div class="form-row submit">
                        <input type="submit" value="חזרו אליי >>" id="form_submit">
                        <div class="loader"></div>
                    </div>
                </form>

                <div id="thanks">
                    <span class="private">
                    תודה, <br> קיבלנו את הפרטים.
                    <br>
                        <span class="thanks-bottom">נחזור אליך בהקדם עם הצעה משתלמת.</span>
                    </span>
                </div>
                <p class="disclaimer mobile">
                    *ללקוחות עסקיים בלבד *ברכישת מרכזיית <span class="eng">ERICSSON-LG</span> מהדגמים המשתתפים במבצע *הטבת אוזניות
                    <span class="eng">AirPods</span> דור 2 של <span class="eng">Apple</span>, ללא טעינה אלחוטית, החל מ- 6.5 ₪ לחודש בפריסה ל-60 תשלומים *<a href="https://www.bezeqint.net/takanon-merkaziuot-lg/" target="_blank">בכפוף לתקנון</a> *המחירים לא כוללים מע"מ *בתוקף עד 31.12.2021 או עד גמר המלאי *התמונות להמחשה בלבד.</p>
            </div>

            <div class="logos-container desktop">
                <img src="src/images/lg-erricson-logos.png" alt="lg" class="page-logo ericsson-logo">
            </div>

        </section>
        <div class="contact-buttons mobile">
            <a href="tel:1800-076-201" id="c2c" class="button c2c maskyoom">לשיחה עם נציג</a>
            <a href="#lead_form" class="button details-button" id="scroll-button">להשארת פרטים &raquo;</a>
        </div>

        <!-- MASKYOO EXAMPLE -->
        <!-- <span class="num maskyood"  id="form_number" >03-303513section> -->

    </div>
</div>

<iframe id="leadformtarget" name="leadformtarget" src="" frameborder="0" style="display: none"></iframe>


<link rel="stylesheet" href="dist/css/normalize.min.css">
<link rel="stylesheet" href="dist/css/style.css?v=CLIENT_VERSION&minifierType=css">