.form-container {
  width: 100%;
  height: auto;
  color: white;
  position: relative;
    .form-wrapper  {
      overflow: hidden;
      padding: 9em 2em 0;
      position: relative;
      background-image: url("../images/elipse-white.png");
      @include mobile-only(){
        background-image: url("../images/elipse-mobile.png");
        background-color: $snow-white;
      }
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
    .form-title {
      font-size: 3.5em;
      text-align: center;
      line-height: 1;
      font-weight: 400;
      .bold {
        font-weight: 700;
        
      }
    }
    .form-subtitle {
      font-size: 2.7em;
      font-weight: 700;
      text-align: center;
      line-height: 1;
    }
  }

  @include desktop() {
    width: 25%;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 0.5em;
    background-color: $bg-gray;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    align-items: center;
    margin: 0;
    .page-logo {
      height: 5em;
    }
    .form-wrapper {
      background-image: none;
      width: 100%;
      margin: 0;
      padding: 0;
      position: static;
      .form-title {
        font-size: 3em;
        max-width: 10em;
        margin: 0 auto;
        span {
          display: inline;
        }
      }
      .form-subtitle {
        font-size: 3.2em;
      }

      .call {
        font-size: 1.2em;
      }
    }
      .logos-container {
        display: flex;
        align-items: baseline;
        .page-logo {
        }
        .lg-logo{
          height: 3.4em;
          margin-left: 0.5em;
        }
        .ericsson-logo {
          height: 4em;
          position: absolute;
          bottom: 1.5em;
          left: 50%;
          transform: translateX(-50%);
        }

      }
  }
}

#lead_form {
  width: 82%;
  margin: 1.5em auto;
  .form-row {
    padding-bottom: 2em;
    position: relative;
    input {
      width: 100%;
      font-size: 1.8em;
      padding: 0.5em;
      color: $gray;
    }

    .parsley-errors-list {
      position: absolute;
      bottom: 0em;
      right: 0;
      width: 100%;
      line-height: 1;
      color: red;
      font-size: 1.5em !important;
      @include mobile-only(){
        font-size: 2.4em !important;
        margin: .2em 0 .05em 0;
        position: initial;  
      }
    }
    &#client_select {
      display: flex;
      margin: 0 auto;
      flex-direction: row;
      font-size: 1.2em;
      font-weight: 400;
      justify-content: space-between;
      align-items: flex-start;
      color: white;
      line-height: 1;
      position: relative;
      padding-bottom: 1em;

      .hidden-radio {
        display: none;
      }

      .parsley-required {

      }

      .parsley-errors-list {
        bottom: 0;
        right: 0;
        color: red;
        width: initial;
        font-size: 0.9em;
      }

      div.text-label {
        font-size: 3em;
        margin: auto;
        color: white;

        @supports (-ms-ime-align: auto) {
          height: initial;
        }
      }
      .label-text {
        font-size: 3em;
      }
      .box {
        width: 2em;
        height: 2em;
        background-color: white;
        display: inline-block;
        margin: 0 1em;
      }
      .checked {
        .box {
          background-color: $light-blue;
        }
      }

      .radio-input {
        height: 1px;
        width: 1px;
        position: absolute;
        opacity: 0;
        &:focus {

        outline: none !important;
        }
      }

      .radio_select {
        display: flex;
      }

      .inputs {
        display: flex;
        flex-grow: 1;
        width: 4.5em;
        justify-content: space-between;

        .styled-label {
          flex-grow: 1;
          text-align: center;
          color: black;
          padding: .6rem;
          border: black solid 1px;
          border-radius: 10px;
          margin-right: 1em;
          background-color: white;

          input {
            display: none;
          }

          &.checked {
            background-color: $pink;
            color: $white;
          }
        }
      }

      .first {
        &::after {
          right: 1.05em;
        }
      }

      .text-label {
        font-weight: 400;
        margin-left: 0.3em;
        color: black;
        font-size: 1.1em;
      }

      .clearfix:before {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
  .submit {
    position: relative;
    padding-bottom: 0;
    #form_submit {
      background-color: $pink;
      color: white;
      border: none;
      border-radius: 6px;
      height: 1.9em;
      line-height: 1;
      font-family: typograph2 !important;
      font-weight: 400 !important;
      letter-spacing: .05em;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.2em !important;
      @include mobile-only(){
        height: 1.5em;
        padding: .3em !important;
        padding-bottom: 1.1em !important;
        font-size: 3em !important;
      }
    }
    .loader {
      display: none;
      background: url('../images/loader.svg') top center no-repeat;
      background-size: cover;
      height: 0.5em;
      width: 0.5em;
      font-size: 2em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include desktop() {
    width: 93%;
    margin: 3em 1em 0;
    .form-row {
      padding-bottom: 3em;
      display: flex;
      input {
        font-size: 1.6em;
        border-radius: 0;
        border: solid black 2px;
        font-weight: 500;
      }

      .parsley-errors-list {
     
      }
      &#client_select {

        .hidden-radio {
        }

        .parsley-required {
          font-size: 1em;
        }

        .parsley-errors-list {
        }

        div.text-label {
          font-size: 1em;
        }
        .label-text {
          font-size: 0.8em;
        }
        .box {
          width: 20px;
          height: 20px;
          margin: 0 0.5em;
        }
        .checked {
          .box {
          }
        }

        .radio-input {
          &:focus {
          }
        }


        .inputs {

          .styled-label {

            input {
            }

            &.checked {
            }
          }
        }

        .first {
          &::after {
          }
        }

        .text-label {
        }

        .clearfix:before {
        }
      }
    }
    .submit {
      #form_submit {
        border-radius: 8px;
      }
    }
  }
}

.loading {
  #form_submit {
    visibility: hidden;
  }
  .loader {
    display: block !important;
  }
}

#c2c, #scroll-button {
  text-decoration: none;
}