#top_wrapper {
	overflow-x: hidden;
	.main-container {
		width: 100%;
		background-color: $bg-gray;
		background-position: top center;
		.disclaimer {
			font-size: 2em;
			text-align: justify;
			color: black;
			font-weight: 400;
			line-height: 1;
			padding-bottom: 5em;
			.eng {
				font-size: 0.9em;
			}
			a {
				color: black;
				text-decoration: underline;
			}
			&.mobile {
				margin-top: 2em;
				color: white;
				font-weight: 100;
				a {
					color: white;
				}
			}
		}
		.content-area {
			background-repeat: no-repeat;
			background-position: top center;
			background-size: 100%;
			background-color: $snow-white;
			.main-content {
				@include mobile-only() {
					background-size: cover;
				}
				text-align: center;
				.logos {
					display: flex;
					justify-content: space-between;
					padding: 1.8em 1.5em;
					position: absolute;
					z-index: 100;
					width: 100%;
					.page-logo {
						height: 4em;
						margin-top: auto;
					}
					.logos-container {
						display: flex;
						.page-logo {
						}
						.lg-logo {
							height: 3em;
							margin-left: 0.5em;
						}
						.ericsson-logo {
						}
					}
				}
				.title {
					font-size: 3.3em;
					color: black;
					text-align: center;
					background-image: url('../images/bg-mobile.jpg');
					height: 40vh;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					margin-bottom: -1.5em;
					position: relative;
					font-weight: 700;
					line-height: 1em;

					.eng-title {
						display: flex;
						align-items: center;
						justify-content: center;
						.eng {
							font-size: 0.8em;
							font-weight: 700;
						}
					}

					&.mobile {
						font-size: 4.7em;
						font-weight: 500;
						height: 8em;
						background-size: cover;
						line-height: 0.9em;
						div {
							transform: translateY(-1em);
						}
					}
				}
				.header-list {
					font-size: 4em;
					color: black;
					background-image: url('../images/elipse-desk.png');
					background-repeat: no-repeat;
					background-size: 100% auto;
					margin-bottom: 0.5em;
					padding-top: 3em;
					position: relative;
					img {
						position: absolute;
						&.tuki {
							width: 1.8em;
							right: 0.8em;
							top: -0.4em;
							z-index: 100;
						}
						&.phone {
							width: 8.2em;
							top: -2.6em;
							left: 56%;
							transform: translateX(-50%);
						}
						&.airpods {
							width: 5em;
							top: -3em;
							left: -0.2em;
						}
					}
					line-height: 1;
					font-weight: 600;

					.bold {
						color: $pink;
					}
					.light {
						color: black;
					}
					.header-item {
						.eng {
							display: inline-block;
							direction: ltr;
						}
						&:last-of-type {
							&::after {
								content: '';
								position: absolute;
								bottom: -0.6em;
								left: 50%;
								transform: translateX(-50%);
								background-image: url('../images/line.png');
								background-size: contain;
								background-position: center;
								background-repeat: no-repeat;
								height: 1em;
								width: 6em;
							}
						}
					}
				}
				.tv-container {
					position: relative;
					margin: 4em auto 0;
					height: 44vh;
					width: fit-content;
					white-space: nowrap;
					h1 {
						font-size: 3em;
						font-weight: 600;
						color: black;
					}
					img {
						width: 42em;
					}
					.circle-wrapper {
						position: absolute;
						top: 0;
						right: 0;
						transform: translate(15%, -25%) rotate(18deg);
						border-radius: 50%;
						width: 13.2em;
						height: 13.2em;
						-webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.33);
						box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.33);
						display: flex;
						justify-content: center;
						align-items: center;
						.circle {
							border-radius: 50%;
							width: 96%;
							height: 96%;
							border: transparent solid 6px;
							background-color: $light-blue;
							padding: 1.8em 1.2em;
							text-align: center;
							line-height: 1;
							color: black;
							.text {
								font-size: 2em;
							}
							.free {
								font-size: 3em;
								font-weight: 400;
							}
						}
					}
				}
			}
			.details {
				@include mobile-only() {
					background-color: $snow-white;
				}
				background-size: 100%;
				position: relative;
				text-align: center;
				.tuki {
					position: absolute;
					right: 12em;
					top: 2em;
					width: 11em;
					@media (min-width: 1500px) and (max-width: 1650px) {
						width: 9em;
					}
					@media (min-width: 1000px) and (max-width: 1500px) {
						width: 7em;
					}
				}
				.phone {
					position: absolute;
					top: -10em;
					left: 50%;
					width: 32em;
					transform: translateX(-50%);
					@media (min-width: 1500px) and (max-width: 1650px) {
						width: 30em;
						top: -9.5em;
					}
					@media (min-width: 1000px) and (max-width: 1500px) {
						width: 28em;
						top: -8.5em;
					}
				}
				.airpods {
					position: absolute;
					top: -12em;
					left: 7em;
					width: 20em;
					@media (min-width: 1500px) and (max-width: 1650px) {
						width: 18em;
						top: -11.5em;
						left: 6em;
					}
					@media (min-width: 1000px) and (max-width: 1500px) {
						width: 16em;
						top: -10.5em;
						left: 5em;
					}
				}
				.details-header {
					.header-anchor {
						font-size: 2.5em;
						padding-bottom: 1em;
						color: black;
						position: relative;
						&::after {
							content: '';
							position: absolute;
							bottom: 0.4em;
							left: 50%;
							transform: translateX(-50%);
							background-image: url('../images/arrowup.png');
							height: 0.5em;
							width: 1em;
							background-repeat: no-repeat;
							background-position: bottom center;
							background-size: contain;
						}
					}
				}
				.details-list {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;
					margin: 2em auto 0;
					width: 95%;
					.details-item {
						font-size: 2em;
						color: black;
						padding: 4em 0.7em 0;
						text-align: center;
						line-height: 0.8;
						position: relative;
						width: 30%;
						// @include mobile-only(){
						// 	width: 50%;
						// }
						margin-bottom: 1em;
						&::before {
							content: '';
							background-size: contain;
							background-repeat: no-repeat;
							height: 3.7em;
							width: 100%;
							position: absolute;
							top: 0;
							left: 50%;
							transform: translateX(-50%);
							background-position: center;
							@include mobile-only() {
								width: 2.8em;
							}
						}
						&.people {
							&::before {
								background-image: url(../images/people.png);
								@include mobile-only() {
									width: 3.3em;
								}
							}
						}
						&.hand {
							&::before {
								background-image: url(../images/hand.png);
							}
						}
						&.mic {
							&::before {
								background-image: url(../images/mic.png);
							}
						}
						&.tools {
							&::before {
								background-image: url(../images/tools.png);
							}
						}
						&.network {
							&::before {
								background-image: url(../images/network.png);
							}
						}
						&.forward {
							&::before {
								background-image: url(../images/forward.png);
							}
						}
					}
				}
			}
		}
		.contact-buttons {
			width: 100%;
			background-color: $bg-gray;
			display: flex;
			justify-content: center;
			gap: 0.4em;
			font-size: 3.3em;
			padding: 0.6em 0.5em;
			position: fixed;
			bottom: 0;
			.button {
				padding: 0.2em 0.5em;
				line-height: 1;
				border-radius: 6px;
			}
			.details-button {
				background-color: $light-blue;
				color: black;
			}
			.c2c {
				background-color: $pink;
				color: white;
				padding-left: 1em;
				position: relative;

				&::after {
					content: '';
					position: absolute;
					bottom: 50%;
					left: 0;
					transform: translateY(50%);
					background-image: url('../images/c2c.png');
					height: 0.8em;
					width: 1em;
					background-repeat: no-repeat;
					background-position: bottom center;
					background-size: contain;
				}
			}
		}
		@include desktop() {
			display: flex;
			padding-bottom: 0;
			.mobile {
				display: none !important;
			}
			.content-area {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				.main-content {
					background-image: url('../images/bg-desk.jpg');
					.tv-container {
						margin: 1.8em auto 0;
						padding-right: 2.5em;
						img {
							width: 22.5em;
						}
						.circle-wrapper {
							width: 7em;
							height: 7em;
							transform: translate(-17%, -16%) rotate(18deg);
							.circle {
								background-color: $pink;
								color: white;
								padding: 1.2em 0.7em;
								line-height: 0.9;
								.text {
									font-size: 1.1em;
								}
								.free {
									font-size: 1.5em;
								}
							}
						}
					}
				}
				.details {
					background-image: url('../images/elipse-desk.png');
					background-repeat: no-repeat;
					padding-top: 3.2em;
					flex-grow: 1;
					margin: -6.2em 0 0;
					font-size: 0.7em;
					.title {
						color: white;
						font-size: 2.75em;
						margin: 1.2em auto 0;
						line-height: 0.83;
						position: relative;
						padding-bottom: 0.8em;
					}
					.header-list {
						font-size: 4em;
						letter-spacing: 0.03em;
						color: black;
						font-weight: 600;
						line-height: 0.85;
						.header-item {
							.bold {
								color: $pink;
							}
							.eng {
								font-size: 0.9em;
								display: inline-block;
								direction: ltr;
							}
							&:last-of-type {
								position: relative;
								&::after {
									content: '';
									position: absolute;
									bottom: -0.6em;
									left: 50%;
									transform: translateX(-50%);
									background-image: url('../images/line.png');
									background-size: contain;
									background-position: center;
									background-repeat: no-repeat;
									height: 1em;
									width: 6em;
								}
							}
						}
					}
					.tuki {
						left: 2.5em;
						top: 1.4em;
						width: 6em;
					}
					.details-content {
						font-size: 1.5em;
						padding-bottom: 0.3em;
						.details-content-top {
							font-size: 1em;
						}
						.details-content-middle {
							font-size: 0.8em;
						}
						.details-content-bottom {
							font-size: 1.2em;
						}
						&::after {
							height: 0.5em;
							width: 14em;
						}
					}
					.details-list {
						font-size: 0.48em;
						margin: 4em auto;
						width: 78%;
						flex-wrap: nowrap;

						.details-item {
							min-width: auto;
							font-size: 2.5em;
							width: 18%;
							max-width: 7em;
							line-height: 0.9;
							&::before {
								bottom: 2em;
								background-size: contain;
								height: 2.7em;
							}

							&.people {
								&::before {
									background-size: contain;
								}
							}
							&.pc {
								&::before {
									background-size: contain;
								}
							}
							&.shield {
								&::before {
									background-size: contain;
								}
							}
							&.lock {
								&::before {
									background-size: contain;
								}
							}
							&.office {
								&::before {
									background-size: contain;
								}
							}
						}
					}
				}
			}
			.disclaimer {
				position: absolute;
				font-size: 0.8em;
				text-align: right;
				bottom: 0;
				right: 1em;
				max-width: 70%;
				padding-bottom: 0.1em;
				color: black;
				a {
					color: black;
				}
			}
		}
	}
}
